:root {
  --pink: #f14e95;
  --bg: rgb(23, 24, 23);
  --shadow: 0 4px 4px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  /* min-height: 4000px; */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background-image: url("../img/Prewed.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale();
}

.hero {
  position: relative;
  min-height: 100vh;
  transition: transform 2s ease-in-out;
  /* Smooth transition for lifting */
  transform: translateY(0);
  /* Start position */
}

.hero.lift {
  transform: translateY(-100vh);
  /* Move hero upwards off-screen */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  /* Make sure it covers full screen while it's visible */
  z-index: 10;
  /* Keep hero section under off-canvas */
}

.hero-hidden {
  display: none;
}

.hero h4 {
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  color: #ffe08e;
}

.hero p {
  font-weight: bold;
  /* Menambah ketebalan huruf */
  font-size: 2rem;
  /* Membuat teks lebih besar */
  /* letter-spacing: 1px; Menambah spasi antar huruf */
  color: #ffe08e;
  /* Memastikan teks berwarna putih (atau sesuai kebutuhan) */
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  /* Menambahkan bayangan pada teks agar terlihat lebih jelas */
}

.logo-header {
  height: 300px;
  /* Sesuaikan tinggi logo */
  width: auto;
  /* Agar proporsi logo tetap terjaga */
  max-width: 100%;
  /* Pastikan gambar tidak lebih besar dari container */
  display: block;
  /* Membuat gambar bertindak sebagai elemen block */
  margin: 0 auto;
  /* Untuk memastikan logo berada di tengah, jika diperlukan */
}

/* .hero h1 {
  font-family: "sacramento", cursive;
  font-size: 6rem;
  color: #f14e95;
} */

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  background-color: var(--pink);
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: #ffe08e;
  color: white;
}

/* Navbar Start */

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "sacramento", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
  /* Limit the height to 50% of the viewport */
  width: 50vw;
  /* Set the width to 80% of the viewport */
  max-width: 320px;
  /* Set a max width if needed */
}

.quran {
  position: relative;
  width: 100%;
  height: 77vh;
  /* Sesuaikan tinggi dengan viewport */
  overflow: hidden;
  /* Sembunyikan bagian video yang keluar dari area */
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Tempatkan video di belakang elemen lain */
  overflow: hidden;
}

.video-quran {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: auto;
  min-height: auto;
  width: 100%;
  height: 110%;
  z-index: -1;
  /* Agar tetap berada di belakang konten */
  object-fit: cover;
  /* Video akan memenuhi seluruh area tanpa distorsi */
  pointer-events: none;
  /* Agar video tidak bisa diinteraksi */
}

.quran .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quran-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  /* opacity: 0; */
  padding-bottom: 6rem;
  /* animation: fadeIn 5s ease-in forwards; */
}

.logo {
  position: absolute;
  top: 15%;
  /* Adjust sesuai posisi yang diinginkan */
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  max-width: 30%;
  /* Ukuran logo lebih kecil */
  height: auto;
  /* opacity: 0; */
  /* animation: fadeIn 5s ease-in forwards, pulse 3s infinite ease-in-out 3s; */
}

.ayat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 500px;
  /* Sesuaikan dengan tinggi elemen */
  overflow: hidden;
  /* Sembunyikan bagian teks yang belum muncul */
  white-space: pre-wrap;
  /* Mengizinkan teks untuk membungkus */
  font-size: 16px;
  line-height: 1.6;
  font-family: "Merienda", cursive;
  font-style: italic;
  font-weight: bold;
  color: #000000;
  /* Sesuaikan warna teks */
  opacity: 0;
  /* Dimulai dengan tidak terlihat */
  transition: opacity 0.5s ease-in;
  /* Transisi opacity */
}

/* home start */
.home {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  /* margin: 0; */
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: "sacramento";
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.home p {
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "sacramento";
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--pink);
}

.gallery {
  overflow-x: hidden;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

/* info section start */
.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info.card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info.card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info.card-body {
  font-size: 1rem;
}

.info.card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

/* story */
.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 2px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 10rem;
  height: 10rem;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* posisi timeline kiri */
.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 14px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

/* posisi timeline kanan */
.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: #f5f5f5;
}

.rsvp {
  background-color: var(--bg);
}

.rsvp h2 {
  font-size: 4.5rem;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}

.rsvp button:hover {
  background-color: var(white);
  color: var(--pink);
  border: 1px solid var(white);
}

footer {
  padding: 3rem;
  background-color: var(--pink);
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

/* Extra Large */
@media (max-width: 1920px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }

  .sticky-top {
    overflow: hidden;
  }

  .quran-image {
    padding-top: 5%;
    max-width: 90%;
    /* Lebih kecil untuk layar yang lebih kecil */
  }

  .logo {
    max-width: 35%;
    /* Menyesuaikan ukuran logo */
    top: 16%;
    /* Menurunkan posisi logo */
  }

  .quran p {
    font-size: 12px;
    /* Lebih kecil lagi untuk layar sempit */
    top: 52%;
    /* Menyesuaikan posisi teks */
    width: 58%;
    /* Mengoptimalkan ruang teks */
  }

  .video-quran {
    top: 40%;
    height: 93%;
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 40px;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
    width: 140px;
    height: 140px;
  }

  .timeline li .timeline-panel {
    width: calc(100% - 200px);
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }

  .sticky-top {
    overflow: hidden;
  }

  .quran-image {
    padding-top: 7%;
    max-width: 90%;
    /* Lebih kecil untuk layar yang lebih kecil */
  }

  .logo {
    max-width: 35%;
    /* Menyesuaikan ukuran logo */
    top: 16%;
    /* Menurunkan posisi logo */
  }

  .quran p {
    font-size: 13px;
    /* Lebih kecil lagi untuk layar sempit */
    top: 55%;
    /* Menyesuaikan posisi teks */
    width: 55%;
    /* Mengoptimalkan ruang teks */
  }

  .video-quran {
    top: 40%;
    height: 99%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 100px;
    height: 100px;
  }

  .quran-image {
    padding-top: 7%;
    max-width: 90%;
    /* Lebih kecil untuk layar yang lebih kecil */
  }

  .logo {
    max-width: 35%;
    /* Menyesuaikan ukuran logo */
    top: 16%;
    /* Menurunkan posisi logo */
  }

  .quran p {
    font-size: 13px;
    /* Lebih kecil lagi untuk layar sempit */
    top: 55%;
    /* Menyesuaikan posisi teks */
    width: 55%;
    /* Mengoptimalkan ruang teks */
  }

  .video-quran {
    top: 40%;
    height: 102%;
  }
}

/* mobile phone */
@media (max-width: 600px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31%;
  }

  .sticky-top {
    overflow: hidden;
  }

  .quran-image {
    padding-top: 9%;
    max-width: 90%;
    /* Lebih kecil untuk layar yang lebih kecil */
  }

  .logo {
    max-width: 35%;
    /* Menyesuaikan ukuran logo */
    top: 18%;
    /* Menurunkan posisi logo */
  }

  .quran p {
    font-size: 12px;
    /* Lebih kecil lagi untuk layar sempit */
    top: 55%;
    /* Menyesuaikan posisi teks */
    width: 57%;
    /* Mengoptimalkan ruang teks */
  }

  .video-quran {
    top: 40%;
    height: 103%;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: none;
  }

  .mynavbar .offcanvas {
    height: 100vh;
    /* Limit the height to 50% of the viewport */
    width: 50vw;
    /* Set the width to 80% of the viewport */
    max-width: 320px;
    /* Set a max width if needed */
  }

  .mynavbar .offcanvas-title {
    font-family: "sacramento", cursive;
    font-size: 2.3rem;
    font-weight: bold;
  }
}

/* mobile phone */
@media (max-width: 440px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 3px;
  }

  .quran-image {
    padding-top: 10%;
    max-width: 90%;
    /* Lebih kecil untuk layar yang lebih kecil */
  }

  .logo {
    max-width: 35%;
    /* Menyesuaikan ukuran logo */
    top: 18%;
    /* Menurunkan posisi logo */
  }

  .quran p {
    font-size: 10px;
    /* Lebih kecil lagi untuk layar sempit */
    top: 55%;
    /* Menyesuaikan posisi teks */
    width: 55%;
    /* Mengoptimalkan ruang teks */
  }

  .video-quran {
    top: 40%;
    height: 103%;
  }

  .mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: none;
  }

  .mynavbar .offcanvas {
    height: 100vh;
    /* Limit the height to 50% of the viewport */
    width: 50vw;
    /* Set the width to 80% of the viewport */
    max-width: 320px;
    /* Set a max width if needed */
  }

  .mynavbar .offcanvas-title {
    font-family: "sacramento", cursive;
    font-size: 2.3rem;
    font-weight: bold;
  }
}

/* mobile phone */
@media (max-width: 370px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 3px;
  }

  .quran-image {
    padding-top: 26%;
    max-width: 90%;
    /* Lebih kecil untuk layar yang lebih kecil */
  }

  .logo {
    max-width: 35%;
    /* Menyesuaikan ukuran logo */
    top: 26%;
    /* Menurunkan posisi logo */
  }

  .quran p {
    font-size: 9.5px;
    /* Lebih kecil lagi untuk layar sempit */
    top: 60%;
    /* Menyesuaikan posisi teks */
    width: 57%;
    /* Mengoptimalkan ruang teks */
  }

  .video-quran {
    top: 40%;
    height: 103%;
  }

  .mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: none;
  }

  .mynavbar .offcanvas {
    height: 100vh;
    /* Limit the height to 50% of the viewport */
    width: 50vw;
    /* Set the width to 80% of the viewport */
    max-width: 320px;
    /* Set a max width if needed */
  }

  .mynavbar .offcanvas-title {
    font-family: "sacramento", cursive;
    font-size: 2.3rem;
    font-weight: bold;
  }

  .logo-header {
    height: 200px;
    /* Sesuaikan tinggi logo */
    width: auto;
    /* Agar proporsi logo tetap terjaga */
    max-width: 100%;
    /* Pastikan gambar tidak lebih besar dari container */
    display: block;
    /* Membuat gambar bertindak sebagai elemen block */
    margin: 0 auto;
    /* Untuk memastikan logo berada di tengah, jika diperlukan */
  }
}
